<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hello Bro!</title>
  </head>
  <!-- Body-->
  <body>
    <main class="page-wrapper">
      <!-- Page content-->
              <form class="needs-validation p-2" method="post" novalidate>
                  {% csrf_token %}
                <div class="mb-3 pb-1">
                  <label class="form-label" for="recovery-email">Search whatever you want!</label>
                  <input class="form-control" type="text" name="searched" required id="recovery-email">
                </div>
                <button class="btn btn-primary" type="submit">Create Video!</button>
              </form>
    </main>
  </body>
</html>